:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --accent-color: #2196f3;
  --main-descriprion-color: #757575;
  --main-title-color: #212121;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

/* =======HEADER====== */

.header {
  padding: 25px 0;
}
.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  /* margin: 0 0; */
}

.navigation .list {
  display: flex;
}

.address .list {
  display: flex;
}

.logo-dark {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
  display: block;
  margin-right: 93px;
}

.logo-part {
  color: var(--accent-color);
}

.list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  font-style: normal;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.header .address {
  margin-left: auto;
}

.address-item:not(:last-child) {
  margin-right: 50px;
}

.list-item:hover,
.list-item:focus {
  color: var(--accent-color);
}

.header-contacts {
  color: var(--main-descriprion-color);
}

/* =======END HEADER====== */

/* ======HERO====== */

/* background-color временно для видимости белых букв */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  max-width: 1600px;
  text-align: center;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.367;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;

  margin: 0 auto 30px;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: #ffffff;

  min-width: 200px;
  height: 50px;
  border-radius: 4px;
}

/* ======END HERO====== */

/* ======ADVANTAGES====== */

.advantages .container {
  padding-top: 95px;
  padding-bottom: 95px;
}
.advantages-list {
  display: flex;

  justify-content: space-between;
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-list-item {
  width: 270px;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);

  margin-bottom: 10px;
}

.advantages-descriprion {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-descriprion-color);
}

/* ======END ADVANTAGES====== */

/* ======WHAT WE DO====== */

.skills .container {
  padding-bottom: 95px;
}

.skills-list {
  display: flex;
  justify-content: space-between;
}

.skills-img {
  margin-bottom: 30px;
}
.title-skills {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);

  margin-bottom: 50px;
}

/* ======END WHAT WE DO====== */

/* ======TEAM====== */

.team-list {
  display: flex;
  justify-content: space-between;
}

.team .container {
  padding-top: 95px;
  padding-bottom: 95px;
}
.title-team {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);

  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  text-align: center;

  margin-bottom: 10px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--main-descriprion-color);
  text-align: center;
}
/* ======END TEAM====== */

/* ======FOOTER====== */

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  background: #2f303a;
  max-width: 1600px;
  margin: 0 auto;
}

.logo-light {
  display: block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;

  margin-bottom: 20px;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-all:not(:last-child) {
  margin-bottom: 9px;
}

/* ======END FOOTER====== */

/* =======PORTFOLIO====== */

.choice-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 625px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background: #f5f4fa;
}
.choice-btn:hover,
.choice-btn:focus {
  color: #ffffff;
  background: var(--accent-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-descriprion-color);
}

/* ======= END PORTFOLIO====== */
